[submodule "src/tests/src/tests/polybench"]
	path = src/tests/src/tests/polybench
	url = https://github.com/MatthiasJReisinger/PolyBenchC-4.2.1.git
[submodule "src/tests/polybench"]
	path = src/tests/polybench
	url = https://github.com/MatthiasJReisinger/PolyBenchC-4.2.1.git
